html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    background: white;
    overflow: hidden;
}
.menu{
    width: 30%;
    height: 100%;
    background: white; 
    overflow: hidden; 
    border-right: 2px #CCCCCC solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}
.map-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
#map {
  cursor: grab;
}
#map:active {
  cursor: grabbing;
}

#map {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    border-radius: 25px;
  }
.map{
    width: 97%;
    height: 96%;
    border: 1px #CCCCCC solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay{
    display: none;
    position: absolute;
    padding-bottom: 20px;
    width: 32px;
    height: 50px;
    z-index: 1000;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    min-height: 131px; 
    border-bottom: 2px #CCCCCC solid;
    text-align: center;
}
.header-text{
    color: black; 
    font-size: 48px;
    font-family: Kodchasan;
    font-weight: 400;
    cursor: default;
    transition: color 0.5s;
}
.header-text:hover{
    color: rgb(136, 0, 199);
}
#point{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-shrink: 0; 
}
#startpoint{
    cursor: pointer;
    height: 30px;
    width: 90%;
    border-radius: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px #B0B0B0 solid;
    background-color: #f1f1f1;
    transition: 0.2s;
}
#startpoint:hover{
    background-color: #dadada;
}

#hover-icon{
    height: 75px;
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 999;
    transition: transform 0.3s;
    transform: translate(-50%, -100%) scale(1);
}
.sidebar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.toggle_mode{
    width: 92%;
    height: 30px;
    border: 1px #A0A0A0 solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}
.toggle_mode_1{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
.toggle_mode_2{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    cursor: pointer;
}
.active{
    background-color: #c9c9c9;
    transition: 0.2s;
}
.nonactive{
    transition: 0.2s;
}
.nonactive:hover{
    background-color: #CCCCCC;
}
.calc_button {
    flex-shrink: 0;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    cursor: pointer;
    width: 90%;
    height: 60px;
    border-radius: 75px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 19px;
    border: 1px #B0B0B0 solid;
}
#btn:hover{
    background-color: #dadada;
}

.friend_list {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-top: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
    border-radius: 25px;
    background-color: #f5f5f5;
    border: 1px #CCCCCC solid;
}
#house_row{
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#house_info{
    min-height: 44px;
    width: 90%;
    background-color: #ffffff;
    border: 1px #CCCCCC solid;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
